.button {
  display: block;
  box-sizing: border-box;
  font-family: $ff-gilroy;
  text-align: center;
  text-decoration: none;
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  outline: none;

  // &:hover {
  //   background-color: $button-hovered;
  // }

  // &:active {
  //   background-color: $button-hovered;
  // }
}
