.feature {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 8px;
}

.feature svg {
  fill: $color-default-white;
  margin-right: 5px;
}

.feature__counter {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: $color-default-white;
}
