.filter {
  box-sizing: border-box;
  padding: 48px 0 48px 0;
}


@include vp-1439 {
  .filter {
    display: none;
  }
}

.filter__clear-button {
  width: 100%;
  font-size: 17px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
}
