.filter-toggle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.filter-toggle__text--opened {
  display: block;
  color: $main-blue;

  @include mobile {
    display: none;
  }
}

.filter-toggle__text--closed {
  display: none;
}

.filter-toggle--hiden .filter-toggle__text--closed {
  display: block;

  @include mobile {
    display: none;
  }
}

.filter-toggle--hiden .filter-toggle__text--opened {
  display: none;
}

.filter-toggle__icon {
  stroke: $main-blue;
  margin-right: 9px;

  @include mobile {
    stroke: $dark-gray;
  }
}

.filter-toggle--hiden .filter-toggle__icon {
  stroke: $dark-gray;

  @include mobile {
    stroke: $dark-gray;
  }
}

.filter-toggle__text--mobile {
  display: none;
}

@include mobile {
  .filter-toggle__text--hide,
  .filter-toggle__text--open {
    display: none;
  }

  .filter-toggle__text--mobile {
    display: block;
  }
}
