.goods {
  width: 100%;
}

.goods__list {
  @include indent-reset;
  // max-width: 1488px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 41px;
  column-gap: 16px;
  padding: 21px 0 41px 0;

  @include mobile {
    display: block;
  }
}

.goods__show-more-button {
  width: 100%;
  cursor: pointer;

  &:hover {
    background-color: $special-gray;
    color: $main-blue;
  }
}

.goods__item:not(:last-child) {
  @include mobile {
    margin-bottom: 25px;
  }
}
