.main-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

}

.main-nav__link {
  display: block;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  text-decoration: none;
  cursor: pointer;
}

.main-nav__link.main-nav__link--active {
  color: $main-blue;
}

.main-nav__link--show-more {
  display: flex;
  align-items: center;
  color: $light-gray;

  & span {
    margin-right: 4px;
  }
}

.main-nav__item:not(:last-child) {
  margin-right: 32px;
  margin-bottom: 0;
}

.main-nav__item--content svg {
  display: none;

  @include mobile {
    display: block;
    transform: rotate(-90deg);
  }
}

.main-nav__link--show-more svg {
  @include mobile {
    transform: rotate(-90deg);
  }
}

@include vp-1279 {
  .main-nav__item--content {
    display: none;
  }

  .main-nav__item--content:nth-child(-n+4) {
    display: block;
  }
}



.main-nav__button-wrapper {
  position: relative;
  width: auto;
  margin: 0 auto;
}

.main-nav__toggle {
  display: none;

  @include mobile {
    position: absolute;
    top: -45px;
    right: 5px;
    display: block;
    background-color: transparent;
    cursor: pointer;
    border: none;
    z-index: 3;

    &:focus-visible {
      outline: 2px solid $dark-gray;
    }
  }
}

.main-nav__close-button {
  fill: $main-blue;
}

.main-nav--opened .main-nav__open-button {
  display: none;
}

.main-nav--opened .main-nav__close-button {
  display: block;
}

.main-nav--closed .main-nav__open-button {
  display: block;
}

.main-nav--closed .main-nav__close-button {
  display: none;
}

.main-nav__show-more-mobile-content {
  display: none;

  @include mobile {
    display: inline;
  }
}

@include mobile {
  .main-nav {
    position: absolute;
    width: 100%;
    left: 0;
    top: 63px;
  }

  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--nojs .main-nav__item {
    display: flex;
  }

  .main-nav__item:not(:last-child) {
    margin-right: 0;
  }

  .main-nav__list {
    display: block;
    box-sizing: border-box;
    padding: 40px 0 40px 0;
    width: 100%;
    list-style: none;
    background-color: $color-default-white;
    z-index: 2;
  }

  .main-nav__link {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    padding: 16px 17px;
    border-bottom: 1px solid $light-gray;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__list {
    position: static;
  }
}

