.param-list {
  @include indent-reset;
}

.param-list--companies {
  height: 195px;
  white-space: nowrap;
  overflow-y: scroll;
}

.param-list__item {
  box-sizing: border-box;
  position: relative;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding: 8px 0;
  border-radius: 10px;

  &:hover {
    background-color: $link-background;
  }
}

.param-list__item label {
  padding-left: 32px;

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    border: 1px solid $light-gray;
    border-radius: 4px;
  }
}

.param-list__item input:checked + label::before {
  background: url("../img/sprite/Icon Check Filter.svg") center no-repeat;
  background-color: $main-blue;
  background-size: 10px 10px;
  border: 1px solid $main-blue;
}
