@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

@mixin indent-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

// Desktop first

@mixin mobile {
  @media (max-width: $mobile-width) {
    @content;
  }
}

@mixin vp-1279 {
  @media (max-width: $vp-1279) {
    @content;
  }
}

@mixin vp-1439 {
  @media (max-width: $vp-1439) {
    @content;
  }
}

@mixin vp-1919 {
  @media (max-width: $vp-1919) {
    @content;
  }
}
